/ {
    encoders {
        compatible = "alps,ec11";

        encoder_left: encoder_left {
            a-gpios = <&pro_micro 20 GPIO_ACTIVE_HIGH>; // F5
            b-gpios = <&pro_micro 21 GPIO_ACTIVE_HIGH>; // F4
        };
    };
};
