/ {
    encoders {
        compatible = "alps,ec11";

        encoder_right: encoder_right {
            a-gpios = <&pro_micro 20 GPIO_ACTIVE_HIGH>;
            b-gpios = <&pro_micro 21 GPIO_ACTIVE_HIGH>;
        };
    };
};
