/ {
    encoders {
        compatible = "zmk,encoders";

        encoder_left: encoder_left {
            compatible = "alps,ec11";
            a-gpios = <&pro_micro 20 GPIO_ACTIVE_HIGH>;
            b-gpios = <&pro_micro 21 GPIO_ACTIVE_HIGH>;
        };
    };
};
