/ {
    encoders {
        compatible = "alps,ec11";

        encoder_right: encoder_right {
            a-gpios = <&pro_micro 21 GPIO_ACTIVE_HIGH>; // F4
            b-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>;  // D4
        };
    };
};
